*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #F5F5F1;
}

h1{
  padding: 20px;
  font-size: 18px;
}

ul{
  display: flex;
  list-style: none;
  margin: 20px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

ul li{
  margin: 20px;
}

li{
  display: flex;
  flex-direction: column;
  background-color: white;
}