*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

header{
  height: 80px;
  background-color: rgba(250, 235, 215, 0.584);
}

h1{
  padding: 20px;
  font-size: 25px;
}